.cartItemsCard {
	font-family: didot;
	font-size: 15px;
};

.cartItemsCard h2 {
	margin: 0;
}

.cartItemsCard p {
	margin: 0;
}

.cartItemsCard img {
	width: 160px;
	height: 160px;
	margin: 0;
}

.addedItems {
  display: flex;
}

.addedItems div {
  display: flex;
  flex-direction: column;
  padding: 15px;
}