.tags {
  margin-bottom: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 25px;
  color: gray;
  font-family: didot;
}

.tags-btn {
  border: none;
  padding: none;
}

.tags-btn:focus {
  outline: none;
}

.tags-btn:hover {
  cursor: pointer;
}