 .sidebar {
 	display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
	width: 400px;
	height: 600px;
	border: solid darkgray 5px;
	position: fixed;
	background-color: white;
	top: 0;
	right: 0;
	z-index: 2;
	transform: translateX(0%);
	transition: transform 0.3s ease-out;
	/*box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.5);*/
}

.sidebar.open {
  transform: translateX(100%);
}

.sidebar h1 {
	position: fixed;
	font-size: 40px;
	color: black;
	font-family: didot;
	margin-top: -175px;
	margin-left: -100px;
}

.list.li {
	list-style-type: none;
}

.sidebar button {
	position: fixed;
	margin-top: 200px;
	width: 300px;
	height: 45px;
	font-size: 25px;
	border: 2px solid black;
	font-weight: bold;
	color: black;
	font-family: didot;
	text-align: center;
}

.sidebar button:focus {
	outline: none;
}

.sidebar button:hover {
	cursor: pointer;
}

.cartItemsList {
	overflow: scroll;
}
